In [60]:
import os, types
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

df = pd.read_csv('data/heart1.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [61]:
df['Sex'].replace(to_replace=['M','F'], value=[0,1],inplace=True)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,1,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,0,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,1,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,0,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [62]:
ChestPainType_dummy = pd.get_dummies(df['ChestPainType'])
ChestPainType_dummy.rename(columns={'TA':'ChestPainType-TA','ATA':'ChestPainType-ATA','NAP':'ChestPainType-NAP','ASY':'ChestPainType-ASY'}, inplace=True)
df = pd.concat([df,ChestPainType_dummy],axis=1)
df.drop('ChestPainType',axis=1,inplace=True)
df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType-ASY,ChestPainType-ATA,ChestPainType-NAP,ChestPainType-TA
0,40,0,140,289,0,Normal,172,N,0.0,Up,0,0,1,0,0
1,49,1,160,180,0,Normal,156,N,1.0,Flat,1,0,0,1,0
2,37,0,130,283,0,ST,98,N,0.0,Up,0,0,1,0,0
3,48,1,138,214,0,Normal,108,Y,1.5,Flat,1,1,0,0,0
4,54,0,150,195,0,Normal,122,N,0.0,Up,0,0,0,1,0

In [63]:
RestingECG_dummy = pd.get_dummies(df['RestingECG'])
RestingECG_dummy.rename(columns={'Normal':'RestingECG-Normal','ST':'RestingECG-ST','LVH':'RestingECG-LVH'}, inplace=True)
df = pd.concat([df,RestingECG_dummy],axis=1)
df.drop('RestingECG',axis=1,inplace=True)
df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType-ASY,ChestPainType-ATA,ChestPainType-NAP,ChestPainType-TA,RestingECG-LVH,RestingECG-Normal,RestingECG-ST
0,40,0,140,289,0,172,N,0.0,Up,0,0,1,0,0,0,1,0
1,49,1,160,180,0,156,N,1.0,Flat,1,0,0,1,0,0,1,0
2,37,0,130,283,0,98,N,0.0,Up,0,0,1,0,0,0,0,1
3,48,1,138,214,0,108,Y,1.5,Flat,1,1,0,0,0,0,1,0
4,54,0,150,195,0,122,N,0.0,Up,0,0,0,1,0,0,1,0

In [64]:
df['ExerciseAngina'].replace(to_replace=['N','Y'], value=[0,1],inplace=True)
df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType-ASY,ChestPainType-ATA,ChestPainType-NAP,ChestPainType-TA,RestingECG-LVH,RestingECG-Normal,RestingECG-ST
0,40,0,140,289,0,172,0,0.0,Up,0,0,1,0,0,0,1,0
1,49,1,160,180,0,156,0,1.0,Flat,1,0,0,1,0,0,1,0
2,37,0,130,283,0,98,0,0.0,Up,0,0,1,0,0,0,0,1
3,48,1,138,214,0,108,1,1.5,Flat,1,1,0,0,0,0,1,0
4,54,0,150,195,0,122,0,0.0,Up,0,0,0,1,0,0,1,0

In [65]:
ST_Slope_dummy = pd.get_dummies(df['ST_Slope'])
ST_Slope_dummy.rename(columns={'Up':'ST_Slope-Up','Flat':'ST_Slope-Flat','Down':'ST_Slope-Down'}, inplace=True)
df = pd.concat([df,ST_Slope_dummy],axis=1)
df.drop('ST_Slope',axis=1,inplace=True)
df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,ChestPainType-ASY,ChestPainType-ATA,ChestPainType-NAP,ChestPainType-TA,RestingECG-LVH,RestingECG-Normal,RestingECG-ST,ST_Slope-Down,ST_Slope-Flat,ST_Slope-Up
0,40,0,140,289,0,172,0,0.0,0,0,1,0,0,0,1,0,0,0,1
1,49,1,160,180,0,156,0,1.0,1,0,0,1,0,0,1,0,0,1,0
2,37,0,130,283,0,98,0,0.0,0,0,1,0,0,0,0,1,0,0,1
3,48,1,138,214,0,108,1,1.5,1,1,0,0,0,0,1,0,0,1,0
4,54,0,150,195,0,122,0,0.0,0,0,0,1,0,0,1,0,0,0,1

In [66]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [67]:
def plot_confusion_matrix(y,y_predict):
    "this function plots the confusion matrix"
    from sklearn.metrics import confusion_matrix

    cm = confusion_matrix(y, y_predict)
    ax= plt.subplot()
    sns.heatmap(cm, annot=True, ax = ax); 
    ax.set_xlabel('Predicted labels')
    ax.set_ylabel('True labels')
    ax.set_title('Confusion Matrix'); 
    ax.xaxis.set_ticklabels(['no heart disease', 'heart disease']); ax.yaxis.set_ticklabels(['no heart disease', 'heart disease'])

In [68]:
X = df[['Age','Sex','RestingBP','Cholesterol','FastingBS','MaxHR','ExerciseAngina','Oldpeak','ChestPainType-ASY','ChestPainType-ATA','ChestPainType-NAP','ChestPainType-TA','RestingECG-LVH','RestingECG-Normal','RestingECG-ST','ST_Slope-Down','ST_Slope-Flat','ST_Slope-Up']]
X.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ChestPainType-ASY,ChestPainType-ATA,ChestPainType-NAP,ChestPainType-TA,RestingECG-LVH,RestingECG-Normal,RestingECG-ST,ST_Slope-Down,ST_Slope-Flat,ST_Slope-Up
0,40,0,140,289,0,172,0,0.0,0,1,0,0,0,1,0,0,0,1
1,49,1,160,180,0,156,0,1.0,0,0,1,0,0,1,0,0,1,0
2,37,0,130,283,0,98,0,0.0,0,1,0,0,0,0,1,0,0,1
3,48,1,138,214,0,108,1,1.5,1,0,0,0,0,1,0,0,1,0
4,54,0,150,195,0,122,0,0.0,0,0,1,0,0,1,0,0,0,1

In [69]:
Y = df['HeartDisease'].values
Y[0:5]

array([0, 1, 0, 1, 0], dtype=int64)

In [70]:
transform = preprocessing.StandardScaler()
X = transform.fit(X).transform(X)

In [71]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 2)

In [13]:
parameters = {'kernel':('linear', 'rbf','poly','rbf', 'sigmoid'),
              'C': np.logspace(-3, 3, 5),
              'gamma':np.logspace(-3, 3, 5)}
svm = SVC()

In [14]:
svm_cv = GridSearchCV(svm, parameters, cv=10)
svm_cv.fit(X_train, Y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid={'C': array([1.00000000e-03, 3.16227766e-02, 1.00000000e+00, 3.16227766e+01,
       1.00000000e+03]),
                         'gamma': array([1.00000000e-03, 3.16227766e-02, 1.00000000e+00, 3.16227766e+01,
       1.00000000e+03]),
                         'kernel': ('linear', 'rbf', 'poly', 'rbf', 'sigmoid')})

In [15]:
print("tuned hpyerparameters :(best parameters) ",svm_cv.best_params_)
print("accuracy :",svm_cv.best_score_)

tuned hpyerparameters :(best parameters)  {'C': 1000.0, 'gamma': 0.001, 'kernel': 'rbf'}
accuracy : 0.8774157719363197

In [16]:
print('Accuracy is', svm_cv.score(X_test, Y_test))

Accuracy is 0.8315217391304348

In [23]:
# svm_cv.fit(X_train, Y_train)
y_pred = svm_cv.predict(X_test)
clf_report = classification_report(Y_test, y_pred)

In [72]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [24]:
clf_report

'              precision    recall  f1-score   support\n\n           0       0.85      0.79      0.82        89\n           1       0.81      0.87      0.84        95\n\n    accuracy                           0.83       184\n   macro avg       0.83      0.83      0.83       184\nweighted avg       0.83      0.83      0.83       184\n'

In [41]:
to_predict=np.array([40,0,140,289,0,172,0,0.0,0,1,0,0,0,1,0,0,0,1]).reshape(1,18)

In [34]:
result = svm_cv.predict(to_predict)
result

array([1], dtype=int64)

In [90]:
to_predict = np.array([49,1,160,180,0,156,0,1.0,0,0,1,0,0,1,0,0,1,0]).reshape(1,18)

In [73]:
from sklearn import ensemble

In [109]:
model = ensemble.RandomForestClassifier(n_estimators= 2000, min_samples_split= 2, min_samples_leaf= 2, max_features= 'sqrt', max_depth= 100, bootstrap= True)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
print('Accuracy : {}'.format(accuracy_score(Y_test, y_pred)))

clf_report = classification_report(Y_test, y_pred)
print('Classification report')
print("---------------------")
print(clf_report)
print("_____________________")

Accuracy : 0.842391304347826
Classification report
---------------------
              precision    recall  f1-score   support

           0       0.87      0.80      0.83        89
           1       0.82      0.88      0.85        95

    accuracy                           0.84       184
   macro avg       0.84      0.84      0.84       184
weighted avg       0.84      0.84      0.84       184

_____________________

In [39]:
import joblib
joblib.dump(model,"heart_new.pkl")

['heart_new.pkl']

In [91]:
# loaded_model = joblib.load("heart_new.pkl")
result = model.predict(to_predict)
result[0]

1

In [45]:
from sklearn.ensemble import RandomForestRegressor

In [79]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(1, 110)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [1,2,3,4, 5,6,7,8,9,10,15,20,25,30]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4,6,8,10,12,14,16,20]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [100, 311, 522, 733, 944, 1155, 1366, 1577, 1788, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [1, 3, 5, 7, 9, 12, 14, 16, 18, 21, 23, 25, 27, 29, 32, 34, 36, 38, 41, 43, 45, 47, 49, 52, 54, 56, 58, 61, 63, 65, 67, 69, 72, 74, 76, 78, 81, 83, 85, 87, 89, 92, 94, 96, 98, 101, 103, 105, 107, 110, None], 'min_samples_split': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30], 'min_samples_leaf': [1, 2, 4, 6, 8, 10, 12, 14, 16, 20], 'bootstrap': [True, False]}

In [80]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [86]:
rf_random = RandomizedSearchCV(estimator = rf,param_distributions = random_grid,
                cv = 5, verbose=2, n_jobs = -1,n_iter=10, random_state=42)

In [87]:
rf_random.fit(X_train, Y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Users\Amitjajoo\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.59791501        nan 0.57285738 0.59646098 0.57455145 0.55682859
 0.47933422        nan 0.56264074 0.56213032]
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [1, 3, 5, 7, 9, 12, 14, 16,
                                                      18, 21, 23, 25, 27, 29,
                                                      32, 34, 36, 38, 41, 43,
                                                      45, 47, 49, 52, 54, 56,
                                                      58, 61, 63, 65, ...],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4, 6, 8, 10,
                                                             12, 14, 16, 20],
                                        'min_samples_split': [1, 2, 3, 4, 5, 6,
                                                              7, 8, 9, 10, 15,
                                                              20, 25, 30],
                                        'n_estimators': [100, 311, 522, 733,
                                                         944, 1155, 1366, 1577,
                                                         1788, 2000]},
                   random_state=42, verbose=2)

In [88]:
print ('Random grid: ', random_grid, '\n')
# print the best parameters
print ('Best Parameters: ', rf_random.best_params_, ' \n')

Random grid:  {'n_estimators': [100, 311, 522, 733, 944, 1155, 1366, 1577, 1788, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [1, 3, 5, 7, 9, 12, 14, 16, 18, 21, 23, 25, 27, 29, 32, 34, 36, 38, 41, 43, 45, 47, 49, 52, 54, 56, 58, 61, 63, 65, 67, 69, 72, 74, 76, 78, 81, 83, 85, 87, 89, 92, 94, 96, 98, 101, 103, 105, 107, 110, None], 'min_samples_split': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30], 'min_samples_leaf': [1, 2, 4, 6, 8, 10, 12, 14, 16, 20], 'bootstrap': [True, False]}

Best Parameters:  {'n_estimators': 1788, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'sqrt', 'max_depth': 96, 'bootstrap': True}

In [55]:
randmf = RandomForestRegressor(n_estimators= 800, min_samples_split= 2, min_samples_leaf= 1, max_features= 'sqrt', max_depth= 30, bootstrap= True) 
randmf.fit( X_train, Y_train)

RandomForestRegressor(max_depth=30, max_features='sqrt', n_estimators=800)

In [57]:
y_pred_rf1 = pd.DataFrame( { "actual": Y_test, 
"predicted_prob": randmf.predict( 
( X_test ) ) } ) 
y_pred_rf1

     actual  predicted_prob
0         1         0.40750
1         1         0.88000
2         1         0.84875
3         0         0.15500
4         1         0.97625
..      ...             ...
179       0         0.45250
180       1         0.81000
181       1         0.82000
182       1         0.97625
183       0         0.46500

[184 rows x 2 columns]